{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Projects by Ricardo Garcia{% endblock %}</h1>

	<div>
		<div class="half">
			<h1 id="main-msg">Projects by Ricardo Garcia</h1>
		</div>
		<div class="half">
			<img src="{{url_for('static/images', filename='tree.png')}}" />
		</div>
	</div>

{% endblock %}

{% block content %}

<div>
  <p>This website is built using a Flask/Python framework to demonstrate my web development skills, and present any projects I've been working on. My first, Project Dodi, is creating a dodecahedron with fully programmable LEDs that will bounce around its reflective walls. 
  </p>
</div>

<h1 class="container-names">Projects</h1>
<div class="bordered-container">
  <div class="app-button">
    <a href='home/dodi.html'>
      <h2>Project Dodi</h2>
      <img src="{{url_for('static/images', filename='logicon.jpeg')}}" alt="Application_1">
  </div>

  <div class="app-button">
    <a href=''>
      <h2>App2</h2>
      <img src="{{url_for('static/images', filename='app2.png')}}" alt="Application_2">
  </div> 

  <div class="app-button">
    <a href=''>
      <h2>App3</h2>
      <img src="{{url_for('static/images', filename='app2.png')}}" alt="Application_3">
  </div>
</div>

{% endblock %}
